{% extends 'music/base.html' %}


{% block body %}

       <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <h1 class="Title"> Rakshith's Album</h1>
                </div>
                    </div>
           <span> &nbsp <br></span>
       </div>


            <div class="container-fluid">
              <div class="row">
                  {%for album in all_albums %}
                     <div class="col-lg-2">
                         <div class="card">
                             <img class="card-img-top img-thumbnail" src="{{album.album_logo}}" alt="Card image cap">
                                <div class="card-block" style="width: 18rem;">
                                    <h5 class="card-title">
                                   <a href="{% url 'MusicApp:detail' album.id %}" class="card-link">{{album.album_title}}</a><br>
                                    </h5>
                                    <p>{{album.artist}}</p>
                                </div>
                         </div>
                     </div>
                  {% endfor %}
              </div>
            </div>




{% endblock %}

